body {
  background: url(backgroundImg.jpg) no-repeat center center fixed;
  background-repeat:no-repeat;
  background-size:cover;
}

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
  border-bottom: 15px solid black;
}